.button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.button button{
    font-size: large;
    text-transform: capitalize;
    background-color: white;
    color: black;
    padding: 5px 25px;
    box-shadow: 1px 1px 5px rgba(40, 37, 37, 1);
}

.button button:hover{
    background-color: white;
    color: black;
    box-shadow: 2px 2px 20px rgba(40, 37, 37, 1);
}